body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background: url('https://img.freepik.com/free-photo/paper-texture_1194-5999.jpg?size=626&ext=jpg&ga=GA1.2.1170156835.1656435153') no-repeat center center/cover;
}